.Users {
  .Users-list {
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 700px;
    margin: auto;
  }
  .Users-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
    .Users-title {
      font-size: 22px;
      font-family: Arial, Helvetica, sans-serif;
    }
    .Users-filterBtn img {
      width: 40px;
      height: 40px;
    }
  }
}
